#-------------------------------------------------------------------------
# .gitignore (ignore = 無視する)
#
# gitで管理しないファイルを設定するためのもの。
# Visual Studioで開発すると、無駄に謎のファイルの変更履歴が沢山出て邪魔なため
# それらのファイルは無視してください、という設定をするところ。
#-------------------------------------------------------------------------

# よく分からない大量のファイルを除外
.vs/
Debug/

# プロジェクト本体に関するファイルを除外
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user